name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3

    - name: Install Deps
      run: |
        npm install globals @eslint/js @eslint/eslintrc
        npm install eslint-plugin-json
    - name: Lint with ESLint
      run: |
        npx eslint .
