name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2

    - name: Install Deps
      run: |
        npm install eslint
        npm install eslint-plugin-json
    - name: Lint with ESLint
      run: |
        $(npm bin)/eslint . --ext .js,.json
